@import '../UI/Card/AppCard.module.scss';

.title {
  color: $primary;
}
.description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.icon {
  color: $secondary;
}
.button {
  color: $white;
}
