@import '../../variables.scss';

.input {
  width: 100%;
  border: none;
  background: $lightBlue !important;
  border: 0.5px solid $lightGray;
  box-sizing: border-box;
  border-radius: 10px;
  height: 45px;
  padding: 5px 20px;
  outline: none;
  font-family: $roboto-font;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: $gray;
  :global(.p-dropdown-label) {
    padding: 10px 0;
  }
  @media (max-width: 910px) {
    height: 40px;
    padding: 5px 10px;
  }
  @media (max-width: 575px) {
    font-size: 14px;
  }
}

.upload {
  &_hidden {
    display: none;
  }
  &_container {
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &_input {
    cursor: pointer;
    background: $lightBlue;
    border: 1px solid $primary;
    border-radius: 50%;
    padding: 30px;
    transition: filter 0.3s;
    &:hover {
      filter: brightness(0.95);
      transition: filter 0.3s;
    }
  }
  &_preview {
    position: relative;
    padding: 9px;
    &_close {
      position: absolute;
      top: 0;
      right: 0;
      border: 2px solid $primary;
      border-radius: 50%;
    }
    &_img {
      object-fit: cover;
      border-radius: 50%;
    }
  }
}

.textarea {
  @extend .input;
  height: inherit !important;
  overflow: auto !important;
  border-color: $primary;
}
