@import '../../variables.scss';

.input {
  width: 100%;
  border: none;
  height: 50px;
  color: $gray;
  outline: none;
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  padding: 5px 20px;
  font-style: normal;
  border-radius: 10px;
  box-sizing: border-box;
  font-family: $roboto-font;
  border: 0.5px solid $lightGray;
  background: $lightBlue !important;
  :global(.p-dropdown-label) {
    padding: 10px 0;
  }
  &:focus {
    box-shadow: none !important;
  }
  @media (max-width: 910px) {
    height: 40px;
    padding: 5px 10px;
  }
  @media (max-width: 575px) {
    font-size: 14px;
  }
}

.upload {
  &_hidden {
    display: none;
  }
  &_container {
    display: flex;
    margin: 1rem 0;
    align-items: center;
    justify-content: center;
  }
  &_input {
    padding: 30px;
    cursor: pointer;
    border-radius: 50%;
    background: $lightBlue;
    transition: filter 0.3s;
    border: 1px solid $primary;
    &:hover {
      transition: filter 0.3s;
      filter: brightness(0.95);
    }
  }
  &_preview {
    padding: 9px;
    position: relative;
    &_close {
      top: 0;
      right: 0;
      position: absolute;
      border-radius: 50%;
      border: 2px solid $primary;
    }
    &_img {
      object-fit: cover;
      border-radius: 50%;
    }
    &_video {
      width: 100%;
      padding: 10px;
      height: 210px;
      max-width: 310px;
    }
  }
}

.textarea {
  @extend .input;
  border-color: $primary;
  overflow: auto !important;
  height: inherit !important;
}

.zindex {
  z-index: 9991 !important;
}
