.sidebar-container {
  width: 120px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $primary;
}
.sidebar--separator {
  margin-left: 120px;
}

.sidebar--logo-container {
  height: 48px;
  width: 100%;
  text-align: center;
  color: white;
}
.sidebar--item-container {
  background-color: white;
  height: 48px;
  width: 48px;
  border-radius: 14px;
  margin-bottom: 12px;

  i {
    color: black;
    font-size: 21px;
  }
}
.no-background {
  background-color: transparent;
  i {
    color: white;
    font-size: 40px;
  }
}
