@import '../../variables.scss';
@import '../../UI/Input/AppInput.module.scss';
@import '../../UI/Card/AppCard.module.scss';

.container {
  width: 100%;
  .card {
    padding: 46px 56px;
    max-width: 420px;
    width: 100%;
    > * {
      justify-content: center;
    }
    .button_icon {
      @extend .button;
      width: auto;
      color: $white;
      border-radius: 0.25rem;
    }
  }
}
.recoveryLabel {
  text-align: center;
  cursor: pointer;
}
