@import '../../variables.scss';
@import '../Button/button.module.scss';

.card {
  border: 1px solid $lightGray;
  background: $white;
  border-radius: 38px;
  padding: 50px 130px;
  @media (max-width: 660px) {
    padding: 80px 30px;
  }
}
