@import '../../variables.scss';
@import '../Button/button.module.scss';

.section {
  border: 1px solid $lightGray;
  background: $white;
  border-radius: 38px;
  padding: 50px 130px;
  @media (max-width: 660px) {
    padding: 80px 30px;
  }
}

.banner {
  border: 1px solid $primary;
  border-radius: 13px;
  background: $white;
  padding: 50px 50px;
  box-shadow: 0px 4px 4px $shadowBlack;
  @media (max-width: 660px) {
    padding: 80px 30px;
  }
}
