@import '../../variables.scss';

.row {
  margin: 2rem 0;
  justify-content: space-between;
  align-items: center;
  .mark {
    background: $secondary;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 50px;
    width: 100%;
    height: 48px;
    border-radius: 15px;
    font-size: 30px;
    @media (max-width: 660px) {
      max-width: 50px;
      height: 48px;
    }
    &_completed {
      @extend .mark;
      background: $primary;
    }
  }

  .label {
    background: $lightBlue;
    color: $primary;
    border: 1px solid $lightGray;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    border-radius: 15px;
  }
}
