@import '../variables.scss';
@import '../UI/Card/AppCard.module.scss';
@import '../UI/Input/AppInput.module.scss';
@import '../UI/Modal/appModal.module.scss';

.goalsCard {
  display: flex;
  &:hover {
    filter: brightness(0.9);
    transition: filter 0.3s;
  }
  .section {
    padding: 22px 15px;
    border-radius: 15px;
    margin-bottom: 1rem;
    overflow-y: auto;
    height: 301px;
    width: 100%;
    &_header {
      color: $primary;
      align-items: center;
      justify-content: space-between;
    }
    .progress {
      background: $lightGray;
      :global(.p-progressbar-value) {
        background-color: $primary;
      }
      :global(.p-progressbar-label) {
        color: $white;
      }
    }
    .icon {
      color: $secondary;
    }
  }

  .task {
    color: $primary;
    font-size: 12px;
    margin: 5px 0 20px 0;
    &_title {
      margin-bottom: 14px;
    }
  }
}

.close {
  padding: 40px 40px 0;
  border-bottom: none;
}

.section_modal {
  @extend .section;
  border: none;
  @media (max-width: 991px) {
    padding: 80px 30px;
  }
}
