@import '../UI/Card/AppCard.module.scss';
@import '../UI/Button/button.module.scss';

.section_small {
  @extend .section;
  overflow: hidden;
  border-radius: 20px;
}

.title {
  color: $primary;
}

.evaluations {
  overflow-y: auto;
  > div {
    flex-wrap: nowrap;
    justify-content: flex-end;
    flex-direction: row-reverse;
  }
}

.button_plus {
  @extend .button;
  height: 300px;
  border-radius: 38px;
  &:hover {
    color: $white;
  }
}

.button_secondary {
  color: $white;
}
