@import '../variables.scss';
@import '../UI/Card/AppCard.module.scss';

.section {
  height: 90vh;
  padding: 40px 45px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &_notes {
    @extend .section;
    padding: 40px 25px;
    justify-content: start;
  }
  a {
    color: $secondary;
    font-weight: bold;
    text-decoration: none;
  }
}
.title {
  color: $primary;
}
.icon {
  color: $secondary;
  font-size: 28px;
}
.button {
  color: $white;
}
