@import '../UI/Card/AppCard.module.scss';

.section_small {
  @extend .section;
  overflow: hidden;
  border-radius: 20px;
}

.title {
  color: $primary;
}

.evaluations {
  overflow-y: auto;
  max-height: 230px;
  overflow-x: hidden;
}

.button_secondary {
  color: $white;
}
