@import './variables.scss';

$theme-colors: (
  'primary': $primary,
  'secondary': $secondary,
);

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: $lightgraybackground !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: $primary;
}
::-webkit-scrollbar-thumb:active {
  background: $primary;
}
::-webkit-scrollbar-track {
  background: black;
}

@import 'bootstrap/scss/bootstrap';
//Layout styles
.layout .view-content {
  padding: 40px 30px 20px;
}
//theme rounded containers
.rounded-container {
  border-radius: 16px;
}

//Components
@import 'components/sidebar.scss';
@import 'components/navbar.scss';
@import 'components/coach-card.scss';
