// Colors
$primary: #045095;
$secondary: #fe5000;
$danger: #e10909;
$success: #9dd109;
$white: #ffffff;
$background: #f6f9fc;
$lightGray: #c4c4c4;
$lightBlue: #f7fdff;

// Fonts
$roboto-font: 'Roboto', sans-serif;
