// Colors
$primary: #045095;
$secondary: #fe5000;
$danger: #e10909;
$success: #9dd109;
$white: #ffffff;
$black: #000000;
$gray: #4d4d4f;
$shadowBlack: #00000025;
$background: #f6f9fc;
$lightGray: #c4c4c4;
$lightBlue: #e7f2ff;
$lightPrimary: #1a7bee;

// Fonts
$roboto-font: 'Roboto', sans-serif;
