// Colors
$primary: #045095;
$secondary: #fe5000;
$danger: #e10909;
$success: #9dd109;
$white: #ffffff;
$black: #000000;
$gray: #666666;
$shadowBlack: #00000025;
$background: #f6f9fc;
$lightGray: #c4c4c4;
$lightBlue: #f7fdff;
$lightPrimary: #1a7bee;

// Fonts
$roboto-font: 'Roboto', sans-serif;
