@import '../UI/Card/AppCard.module.scss';
@import '../UI/Button/button.module.scss';
@import '../variables.scss';

.title {
  font-size: 24px;
  color: $primary;
  margin-bottom: 2rem;
}

.button {
  width: fit-content;
  padding: 0.3rem 1rem;
  margin-top: 1rem;
  font-size: 15px;
}
.agenda {
  justify-content: center;

  .availability {
    @extend .section;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
    padding: 1rem;
    @media (max-width: 1000px) {
      padding: 1rem;
    }
    &_container {
      max-width: 470px;
      width: 100%;
    }
    &_calendar {
      border: none;
      max-width: 300px;
      width: 100%;
      & :global(.p-datepicker-calendar) tbody tr td {
        padding: 0;
        & > span {
          border-radius: 0;
          border: 1px solid $gray;
          max-width: 72px;
          width: 100%;
          height: 55px;
          & > span {
            max-width: 72px;
            width: 100%;
            height: 55px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
        & > :global(.p-highlight) {
          background-color: $primary;
          color: $white;
        }
        .selectedDate {
          display: flex;
          align-items: center;
          justify-content: center;
          background: $secondary;
          width: 100%;
          height: 62px;
        }
      }
    }
    &_quantity {
      color: $primary;
      font-weight: bold;
      font-size: 17px;
      display: block;
    }
  }

  .container {
    @extend .section;
    margin-bottom: 1rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: self-end;

    .row {
      align-items: center;
      width: 100%;
      .calendar {
        position: relative;
        height: 70px;
        @media (max-width: 1400px) {
          height: 50px;
        }

        &_icon {
          position: absolute;
          top: 0;
          left: 3px;
          font-size: 70px;
          color: $secondary;
          @media (max-width: 1400px) {
            font-size: 50px;
          }
          @media (max-width: 740px) {
            left: 10px;
          }
        }
        &_number {
          position: absolute;
          top: 15px;
          left: 33%;
          font-size: 20px;
          font-weight: bold;
          color: $secondary;
          @media (max-width: 1400px) {
            top: 12px;
            left: 30%;
            font-size: 15px;
          }
        }
        &_date {
          position: absolute;
          left: 27%;
          top: 35px;
          font-size: 20px;
          color: $secondary;
          @media (max-width: 1400px) {
            left: 23%;
            top: 25px;
            font-size: 16px;
          }
        }
      }

      .info {
        text-align: center;
        &_title {
          display: block;
          font-size: 18px;
          color: $primary;
          font-weight: bold;
        }
        &_desc {
          color: $gray;
          font-size: 24px;
          font-weight: bold;
          line-height: 20px;
        }
      }
    }
  }
}

.agended {
  @extend .container;

  .date {
    text-align: center;
    &_icon {
      font-size: 30px;
      color: $white;
      background: $secondary;
      border-radius: 50px;
      padding: 5px;
    }
    &_number {
      font-size: 20px;
      font-weight: bold;
      color: $secondary;
      display: block;
      margin-bottom: -10px;
    }
    &_text {
      font-size: 20px;
      color: $secondary;
      display: block;
    }
  }
}
