@import '../variables.scss';
@import '../UI/Button/button.module.scss';

.container {
  margin-top: 4rem;
  padding: 0 8rem 0 11rem;
  @media (max-width: 768px) {
    text-align: center;
    padding: 0 4rem;
  }
}

.header {
  color: $lightGray;
}

.title {
  color: $lightPrimary;
  font-size: 62px;
  @media (max-width: 430px) {
    font-size: 36px;
  }
}

.paragraph {
  font-size: 18px;
}

.button {
  background: $white;
  color: $lightPrimary;
  border: 2px solid $lightPrimary;
  border-radius: 0;
  width: 280px;
  font-weight: bold;
}
