@import '../variables.scss';
@import '../UI/Button/button.module.scss';
@import '../SatTemplates/satTemplates.module.scss';

.farewell {
  @media (max-width: 990px) {
    height: 70vh;
  }

  .cardImg {
    width: 100%;
    object-fit: cover;
    filter: opacity(25%);
  }

  .container {
    padding-inline: 12rem;
    display: flex;
    flex-direction: column;

    .header {
      color: $lightGray;
    }

    .title {
      color: $lightPrimary;
      font-size: 56px;
      @media (max-width: 430px) {
        font-size: 36px;
      }
    }

    .paragraph {
      font-size: 17px;
    }

    .button {
      background: $white;
      color: $lightPrimary;
      border: 2px solid $lightPrimary;
      border-radius: 0;
      max-width: 280px;
      width: 100%;
      font-weight: bold;
      transition: all 0.3s;
      &:hover {
        background: $lightPrimary;
        color: $white;
        transition: all 0.3s;
      }
    }
  }
}
