@import '../UI/Button/button.module.scss';
@import '../UI/Card/AppCard.module.scss';

.section {
  padding: 2rem;
  min-height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  .icon {
    font-size: 32px;
    margin-bottom: 1rem;
    color: $lightPrimary;
    &_secondary {
      margin-right: 1rem;
      color: $secondary;
    }
  }
  .paragraph {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .button {
    width: auto;
    color: $white;
  }
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
