@import '../UI/Button/button.module.scss';
@import '../UI/Card/AppCard.module.scss';

.section {
  padding: 2rem;
  height: 300px;
  .icon {
    font-size: 32px;
    margin-bottom: 1rem;
    color: $lightPrimary;
    &_secondary {
      margin-right: 1rem;
      color: $secondary;
    }
  }
  .paragraph {
    min-height: 72px;
    * {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
  .button {
    width: auto;
    color: $white;
  }
}
