@import '../../variables.scss';

.edit {
  :global(.p-editor-toolbar) {
    height: 40px;
    border: 1px solid $gray;
    background-color: $lightBlue !important;
    * {
      stroke: $primary !important;
      background-color: transparent !important;
    }
  }
  :global(.p-editor-content) {
    height: 320px;
    border: none !important;
    background-color: $white !important;
  }
}
.icon {
  color: $danger;
}
