@import '../variables.scss';
@import '../UI/Button/button.module.scss';

.container {
  margin-top: 4rem;
  font-size: 18px;
  @media (max-width: 768px) {
    text-align: center;
  }
}

.header {
  text-align: center;
  color: $lightGray;
}

.title {
  color: $lightPrimary;
  text-align: center;
  font-weight: bold;
  font-size: 62px;
  margin-bottom: 3rem;
  @media (max-width: 430px) {
    font-size: 36px;
  }
}

.subtitle {
  font-size: 28px;
  font-weight: bold;
}

.img {
  border-radius: 10px;
}

.cardPoint {
  color: $lightBlue;
  text-align: center;
  background-color: $lightPrimary;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 10px;
  
  .point {
    font-size: calc(1.375rem + 1.5vw);
  }
}

.icon {
  color: $lightPrimary;
  margin-right: 5px;
}

.button {
  width: 280px;
  background-color: $white;
  color: $lightPrimary;
  height: 60px;
  border-radius: 0;
  border: 2px solid $lightPrimary;
  font-weight: bold;
}