@import '../variables.scss';
@import '../UI/Button/button.module.scss';
@import '../SatTemplates/satTemplates.module.scss';

.percentages {
  padding-inline: 7rem;
  @media (max-width: 990px) {
    height: 70vh;
    padding-inline: 2rem;
  }

  .header {
    text-align: center;
    color: $lightGray;
  }

  .title {
    color: $lightPrimary;
    text-align: center;
    font-weight: bold;
    font-size: 56px;
    margin-bottom: 3rem;
    @media (max-width: 430px) {
      font-size: 36px;
    }
  }

  .img {
    border-radius: 10px;
    object-fit: cover;
  }

  .explore {
    width: 100%;
    border: none;
    display: flex;
    font-size: 13px;
    color: $primary;
    max-width: 280px;
    align-items: center;
    background: transparent;
    justify-content: space-between;

    &_icon {
      font-size: 40px;
      margin-right: 0.5rem;
    }
  }

  .cardPoint {
    color: $lightBlue;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 20px;
    padding-block: 2rem;
    background-color: $lightPrimary;
    transition: background-color 0.3s;

    .point {
      font-size: calc(1.375rem + 1.5vw);
    }

    &:hover {
      background-color: $primary;
      transition: background-color 0.3s;
    }
  }

  .description {
    max-height: 31vw;
    overflow: auto;

    @media (max-width: 990px) {
      max-height: max-content;
      margin-top: 3rem;
    }
  }
}
.container {
  margin-top: 4rem;
  font-size: 18px;
  padding: 0 9rem;
  @media (max-width: 768px) {
    text-align: center;
    padding: 0 4rem;
  }
}

.subtitle {
  font-size: 28px;
  font-weight: bold;
}

.button {
  width: 280px;
  background-color: $white;
  color: $lightPrimary;
  height: 60px;
  border-radius: 0;
  border: 2px solid $lightPrimary;
  font-weight: bold;
}
