@import '../UI/Card/AppCard.module.scss';

.title {
  color: $primary;
}
.section {
  padding: 1rem;
  border: none;
}
.profile {
  border-radius: 50px;
}
.datatable {
  @media (max-width: 1200px) {
    max-height: 800px !important;
    overflow: auto;
  }
  &_table {
    :global(.p-datatable-tbody .p-selectable-row) > td {
      padding-block: 0.5rem;
    }
  }
}
.button {
  color: $white;
  @media (max-width: 1200px) {
    width: 70%;
  }
  &_COACH_APPOINTMENT_PENDING {
    background-color: $secondary;
  }
  &_COACH_SELECTION_PENDING {
    background-color: $danger;
  }
  &_REGISTRATION_COMPLETED {
    background-color: $lightPrimary;
  }
  &_INVITATION_PENDING {
    background-color: $primary;
  }
  &_SAT_PENDING {
    background-color: $success;
  }
  &_SUSPENDED {
    background-color: $danger;
  }
}
