@import '../UI/Button/button.module.scss';
@import '../UI/ProgressBar/progressBar.module.scss';

.chart {
  position: relative;
  &_info {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}
.value {
  color: $primary;
}
.icon {
  color: $white;
  border-radius: 50%;
  padding: 10px;
}