@import '../UI/Card/AppCard.module.scss';
@import '../UI/ProgressBar/progressBar.module.scss';

.section {
  padding: 2rem;
  border-color: transparent;
  .gray {
    color: $gray;
  }
  .blue{
    color: $primary;
  }
  .knob {
    > * {
      color: red;
      width: 100%;
      height: 100%;
    }
  }
}