@import '../UI/Card/AppCard.module.scss';
@import '../UI/ProgressBar/progressBar.module.scss';

.section {
  padding: 2rem;
  border-color: transparent;
  .gray {
    color: $gray;
  }
  .blue {
    color: $primary;
  }
  .knob {
    justify-content: center;
    display: flex;
    > * {
      max-width: 300px;
      width: 80%;
      height: 80%;
    }
  }
}
