@import '../UI/Card/AppCard.module.scss';

.title {
  color: $primary;
}
.section {
  padding: 2rem;
  border-color: transparent;
  &_small {
    @extend .section;
    border-color: $primary ;
    background-color: $lightBlue;
  }
  .icon {
    color: $white;
    font-size: 28px;
    border-radius: 50%;
    padding: 20px;
  }
}