@import '../variables.scss';
@import '../UI/Card/AppCard.module.scss';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 620px;
  margin-bottom: 4rem;
}
