@import '../variables.scss';
@import '../UI/Card/AppCard.module.scss';
@import '../UI/Input/AppInput.module.scss';

.container {
  display: flex;
  max-width: 620px;
  margin-bottom: 4rem;
  flex-direction: column;
  justify-content: center;

  .form {
    justify-content: center;
    .section {
      padding: 46px 56px;
      > * {
        justify-content: center;
      }
      .label {
        text-align: center;
        cursor: pointer;
      }
      .button_icon {
        @extend .button;
        color: $white;
        width: fit-content;
        border-radius: 0.25rem;
      }
    }
  }
}
