@import '../UI/Button/button.module.scss';
@import '../UI/Card/AppCard.module.scss';

.section {
  color: $gray;
  border: none;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: $lightBlue;
  .paragraph {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .button {
    width: auto;
    color: $secondary;
  }
}
