@import '../variables.scss';

.section {
  color: $gray;
  border: none;
  padding: 20px;
  border-radius: 15px;
  background-color: $lightBlue;
  .date {
    font-weight: bold;
    justify-content: space-between;
  }
  .paragraph {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  a {
    text-align: right;
    color: $secondary;
    font-weight: bold;
    text-decoration: none;
  }
}
