@import '../UI/Button/button.module.scss';

.section {
  color: $gray;
  border: none;
  padding: 20px;
  border-radius: 15px;
  background-color: $lightBlue;
  .date {
    font-weight: bold;
    justify-content: space-between;
  }
  .paragraph {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .button_more {
    color: $secondary;
  }
  .button_edit {
    @extend .button;
    color: $white;
  }
}
