@import '../variables.scss';

.container {
  padding: 10px 30px;
  .row {
    flex-direction: row-reverse;
    justify-content: space-between;
    .profile {
      max-width: 150px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .avatar {
        border-radius: 50%;
      }
      .notifications {
        font-size: 26px;
        color: $lightPrimary;
        cursor: pointer;
        &_badge {
          background: $danger;
        }
      }
    }
    .menuMobile {
      display: none;
      @media (max-width: 650px) {
        display: block;
      }
    }
  }
}

.sidebar {
  &_body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &_item {
    font-size: 24px;
    &_icon {
      margin: 15px 10px;
    }
  }
  &_settings {
    font-size: 24px;
    background: $primary;
    color: $white;
    text-align: center;
    &_icon {
      font-size: 28px;
    }
  }
}
