@import '../../variables.scss';
@import '../../UI/Card/AppCard.module.scss';
@import '../LoginCard/loginCard.module.scss';

.pageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 620px;
}
.textDescription {
  text-align: center;
  color: $primary;
  font-weight: bold;
}
