@import '../variables.scss';

.dropdown {
  .toggle {
    border: none;
    background: transparent !important;
    color: $primary !important;
    font-size: 23px;
    padding: 0 0 0.5rem;
    &:focus {
      box-shadow: none !important;
    }
    &::after {
      display: none;
    }
  }
}
