@import '../variables.scss';
@import '../UI/Input/AppInput.module.scss';
@import '../UI/Button/button.module.scss';

.input {
  margin-bottom: 23px;
}

.button {
  width: 30%;
  &_close {
    width: 46px;
  }
}

.payment_title {
  text-align: center;
  color: $primary;
  font-size: 36px;
  margin: 33px 0 78px 0;
}
