@import '../variables.scss';
//@import '../UI/Modal/appModal.module.scss';

.container {
  max-height: 780px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 5px;
  .title {
    color: $primary;
  }
  .icon {
    color: $secondary;
  }
}
