@import '../variables.scss';
@import '../UI/Card/AppCard.module.scss';
@import '../UI/Modal/appModal.module.scss';

.section {
  padding: 40px 45px;
  border-radius: 25px;
}

.images {
  border-radius: 100%;
}

.description_container {
  background-color: $primary;
  color: $white;
  border-radius: 20px;
  padding: 10px 15px;
}

.specialization_container {
  color: $gray;
}

.especialization_skill {
  &::marker {
    color: $secondary;
    content: '>>';
    font-weight: bold;
    position: relative;
  }
}

.button {
  padding: 20px 0 0;
  background: none;
  color: $secondary;
  border: 1px solid $secondary;
  border-radius: 10px;
  &:hover,
  &:focus {
    background: $secondary;
    border: 1px solid $secondary;
    box-shadow: none;
  }

  & > i {
    font-size: 22px;
  }
}
