@import '../variables.scss';
@import '../UI/Card/appCard.module.scss';

.section {
  padding: 40px 45px;
  width: 412px;
  border-radius: 25px;
}

.images {
  border-radius: 100%;
}

.description_container {
  background-color: $primary;
  color: $white;
  border-radius: 20px;
  padding: 10px 15px;
}

.specialization_container {
  color: $gray;
}
