@import '../variables.scss';
@import '../Login/page.module.scss';

.container {
  margin-block: 5rem;
  .title {
    text-align: center;
    color: $primary;
    font-size: 36px;
    margin-bottom: 0;
  }
}
