@import '../variables.scss';

.articleCard {
  border-radius: 20px;
  transition: filter 0.3s;
  &:hover {
    filter: brightness(1.2);
    transition: filter 0.3s;
  }
  &_overlay {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &_header {
      display: flex;
      color: $white;
      align-items: flex-start;
      justify-content: space-between;
    }
    &_category {
      font-size: 14px;
      font-weight: 600;
    }
    &_body {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
    &_title {
      color: $white;
      font-size: 24px;
      text-align: center;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
}
