@import '../variables.scss';
@import '../UI/Button/button.module.scss';
@import '../UI/Card/AppCard.module.scss';
@import '../UI/Modal/appModal.module.scss';
@import '../animations.scss';

.section {
  opacity: 0;
  animation: in 0.4s forwards;
  padding: 70px 100px;
  max-width: 940px;
  margin: 0 auto;
  @media (max-width: 768px) {
    padding: 35px 50px;
  }
  @media (max-width: 425px) {
    padding: 35px 20px;
  }
}

.check {
  color: $primary;
}

.uncheck {
  color: $gray;
}

.button {
  border: none;
  background-color: $primary;
  color: $white;
}

.buttonLink {
  text-decoration: none;
  width: 100%;
  padding: 8px 16px;
  margin-top: 16px;
}
