@import '../variables.scss';
@import '../UI/Input/AppInput.module.scss';
@import '../UI/Card/AppCard.module.scss';

.title {
  color: $primary;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}
.InputMask {
  text-transform: uppercase;
  letter-spacing: 18px;
  font-size: 18px;
  text-align: center;
  font-weight: 700;
}
