@import '../variables.scss';
@import '../UI/Button/button.module.scss';
@import '../SatTemplates/satTemplates.module.scss';

.greetingCard {
  @media (max-width: 990px) {
    height: 70vh;
  }
  .cardImg {
    width: 100%;
    object-fit: cover;
    filter: opacity(25%);
  }
  .container {
    padding: 0 10rem;
    @media (max-width: 990px) {
      padding: 0 2rem;
    }
    @media (max-width: 700px) {
      text-align: center;
      padding: 0 1rem;
    }
    .header {
      color: $lightGray;
      margin-top: 4rem;
    }

    .greeting {
      color: $lightPrimary;
      font-size: 56px;
      @media (max-width: 430px) {
        font-size: 36px;
      }
    }

    .paragraph {
      font-size: 18px;
    }
  }
}
