@import '../variables.scss';
@import '../UI/Button/button.module.scss';
@import '../SatTemplates/satTemplates.module.scss';

.cardContainer {
  height: 100%;
}

.container {
  padding: 0 10rem;
  @media (max-width: 768px) {
    text-align: center;
    padding: 0 4rem;
  }
}

.header {
  color: $lightGray;
  margin-top: 4rem;
}

.greeting {
  color: $lightPrimary;
  font-size: 64px;
  @media (max-width: 430px) {
    font-size: 36px;
  }
}

.paragraph {
  font-size: 18px;
}

.button {
  width: 200px;
  background-color: $white;
  color: $lightPrimary;
  border-radius: 0;
  border: 2px solid $lightPrimary;
  font-weight: bold;
}
